<p class= "count">Number of Members: <%= @members.count %></p>


<% @members.each do |member| %>
  <ul class="member" %>
    <p class="name"><%= member.name %></p>
    <p class="photo"><%= member.photoUrl %></p>
    <p class="enemies"><%= member.enemies%></p>
    <p class="allies"><%= member.allies%></p>
    <p class="affiliation"><%= member.affiliation%></p>
  </ul>
<% end %>
